@import '../../styles/_variables.scss';



nav {
  .menu-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 50px;
    margin: 30px 0 160px 0;
  }
}