@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

// COLORS
$primary-color:#333333;
$secondary-color:#7FB2FA;
$secondary-color-accent:#658EC7;


//FONTS
$primary-font: 'Roboto', sans-serif;

//BREAKPOINTS
$mobile-size:667px;
$tablet-size: 1023px;
$desktop-size:$tablet-size+1;