@import "~bulma/css/bulma.css";
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  margin-right: auto;
  padding: 0 10px;
  :hover {
    transition: 0.5s;
    font-style: italic;
  }
}
