@import '../../styles/_variables.scss';

.home-page {
    font-family: $primary-font;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $primary-color;
    font-size: 24px;

    .image-container {
        display: flex;
        align-items: center;

        img {
            width: 20rem;
            height: 20rem;
            object-fit: cover;
            border-radius: 50%;

        }
    }

    .info-container {
        text-align: left;

        h1 {
            margin: 16px 0;
            color: $secondary-color-accent;
            font-size: 48px;
        }


    }
}