@import '../../styles/_variables.scss';

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: 32px;
    font-family: $primary-font;
    height: 100%;
    padding: 56px 0;

}